if SHIELD_AO40_LEFT

config ZMK_KEYBOARD_NAME
    default "ao40"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_AO40_LEFT || SHIELD_AO40_RIGHT

config ZMK_SPLIT
    default y

endif